{% extends 'website/master/base.html' %}
{% load static %}

{% block title %}iTekad{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="row bg-secondary bg-opacity-10">
  <div class="col-12 text-center pt-4 mb-4">
    <h2 class="card-title fw-bold">About Us</h2>
  </div>
</div>

<div class="mt-4"></div>
<div class="row bg-light bg-opacity-10">
  <div class="col-12 pt-4 mb-4">
    <div class="row">
      <div class="col-auto text-center align-self-center">
        <h2 class="card-title fw-bold">Our Vision</h2>
        <div class="mt-4">
          <p class="text-muted">Bank Muamalat is a trendsetter in its contributions to Islamic social finance and is leading the way by providing an innovative solution to the current economic uncertainties through its iTEKAD Mawaddah programme.</p>
        </div>
      </div>
      <div class="col-auto mx-auto text-center p-4">
        <img src="{% static 'website/images/vission.png' %}" class="img-thumbnail rounded-top" alt="Picture 3">
      </div>
    </div>
  </div>
</div>

<div class="mt-4"></div>
<div class="row bg-secondary bg-opacity-10">
  <div class="col-12 pt-4 mb-4">
    <div class="row">
      <div class="col-auto mx-auto text-center p-4">
        <img src="{% static 'website/images/mission.png' %}" class="img-thumbnail rounded-top" alt="Picture 4">
      </div>
      <div class="col-auto text-center align-self-center">
        <h2 class="card-title fw-bold">Our Mission</h2>
        <div class="mt-4">
          <p class="text-muted">The iTEKAD Mawaddah programme is unique as it incorporates the Shariah innovation of two-tier mudarabah.</p>
          <div class="text-center">
            <small class="text-muted fst-italic">Bank will source funds from investors to invest in businesses owned by B40 individuals and micro-entrepreneurs.</small>
            <br />
            <small class="text-muted fst-italic">The profit and loss of each business will be shared with the respective investors.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-4"></div>
<div class="row bg-light bg-opacity-10">
  <div class="col-12 pt-4 mb-4">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 mx-auto text-center p-4">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/Q8jwX-TwDMk?si=qUxghNxnIRfvTOv6" title="itekad" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mx-auto text-center p-4">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/fgxCR6ua7fg?si=7CJ8aiIJj-Fx4bsy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}