{% extends 'website/master/base.html' %}
{% load static %}

{% block title %}iTekad{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="section">
    <div class="row">
        <div class="col-12 bg-light">
          <div class="container mb-3">
            <div class="row mt-5 mb-4">
              <div class="col-12 text-center">
                <h2 class="card-title fw-bold">Campaigns Info</h2>
                <!-- <p class="-card-subtitle fw-bold text-uppercase">- All Campigns -</p> -->
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img src="{% static 'website/images/test.jpeg' %}">
        </div>
        <div class="col-6">
        <h1>Recommend Group</h1>
        <p>South East Asia's #1 Home and Property Services Platform</p>
        </div>
        <button type="button" class="btn btn-light">
            CONSUMER GOODS & SERVICES
        </button>
    </div>
</div>
<div class="section">
    <div class="row mt-5">
        <div class="col-6">
            <img src="{% static 'website/images/picture.jpeg' %}">
        </div>
        <div class="col-6">
           <div class="row">
            <h6>RM 596,310</h6>
            <small>120% OF THE MIN.TARGET (RM 498,498)</small>
           </div>
           <div class="row">
            <h6>19</h6>
            <small>INVESTORS</small>
           </div>
           <div class="row">
            <h6>RM 214,500</h6>
            <small>LARGEST INVESTMENT</small>
           </div>
           <div class="row">
            <h6>30 JUNE 2023 - 15 SEPT 2023</h6>
            <small>FUNDING PERIOD</small>
           </div>
           <div class="row">
            <a class="btn btn-success" href="#" role="button">INVEST NOW</a>
           </div>
        </div>
    </div>
</div>
<section>
    <div class="row">
        <div class="col-12">
            <div class="m-4">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Campaign Info</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"></a>Financial & Documents
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Update</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Investor</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Q&A</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>

{% endblock content %}

{% block js %}{% endblock js %}