{% extends 'website/master/base.html' %}
{% load static %}

{% block title %}iTekad{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="row p-5">
  <div class=" col-sm-12 col-md-12 col-lg-2 pt-4">
    <div class="card border border-warning">
      <div class="card-header bg-warning border-bottom border-warning">Search</div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="" class="form-label">Campaign Name</label>
              <input type="text" class="form-control" name="" id="" placeholder="">
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label for="" class="form-label">Category</label>
              <select class="form-select" name="" id="">
                <option selected>-- Category --</option>
                <option value="">Urgent Campigns</option>
                <option value="">Featured Campigns</option>
                <option value="">Top Campigns</option>
              </select>
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label for="" class="form-label">From Date</label>
              <input type="date" class="form-control" name="" id="" placeholder="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" col-sm-12 col-md-12 col-lg-10 pt-2">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
        <div class="card border border-warning">
          <img src="{% static 'website/images/picture4.jpg' %}" class="card-img-top rounded-4 p-2" alt="Picture 4">
          <div class="card-body">
            <h5 class="card-title">Nasi Lemak Kopi <Optg></Optg></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="mb-4">
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuemax="100">25%</div>
              </div>
            </div>
            <a href="{% url 'campaign_info' %}" class="btn btn-warning text-uppercase fw-bold rounded-0">Learn More</a>
          </div>
        </div>
      </div
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
          <div class="card border border-warning">
            <img src="{% static 'website/images/picture4.jpg' %}" class="card-img-top rounded-4 p-2" alt="Picture 4">
            <div class="card-body">
              <h5 class="card-title">Nasi Lemak Kopi <Optg></Optg></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="mb-4">
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuemax="100">25%</div>
                </div>
              </div>
              <a href="#" class="btn btn-warning text-uppercase fw-bold rounded-0">Learn More</a>
            </div>
          </div>
        </div>
      <!-- <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
        <div class="card border-0 shadow-sm">
          <img src="{% static 'website/images/picture4.jpg' %}" class="card-img-top" alt="Picture 4">
          <div class="card-body">
            <h5 class="card-title">Nasi Lemak Kopi <Optg></Optg></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="mb-4">
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuemax="100">60%</div>
              </div>
            </div>
            <a href="#" class="btn btn-warning text-uppercase fw-bold rounded-0">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
        <div class="card border-0 shadow-sm">
          <img src="{% static 'website/images/picture4.jpg' %}" class="card-img-top" alt="Picture 4">
          <div class="card-body">
            <h5 class="card-title">Nasi Lemak Kopi <Optg></Optg></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="mb-4">
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 48%" aria-valuemax="100">48%</div>
              </div>
            </div>
            <a href="#" class="btn btn-warning text-uppercase fw-bold rounded-0">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
        <div class="card border-0 shadow-sm">
          <img src="{% static 'website/images/picture4.jpg' %}" class="card-img-top" alt="Picture 4">
          <div class="card-body">
            <h5 class="card-title">Nasi Lemak Kopi <Optg></Optg></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="mb-4">
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuemax="100">80%</div>
              </div>
            </div>
            <a href="#" class="btn btn-warning text-uppercase fw-bold rounded-0">Learn More</a>
          </div>
        </div>
      </div> -->
    </div>
    
  </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}