{% extends 'website/master/base.html' %}
{% load static %}

{% block title %}iTekad{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="row">
  <div class="col-12 bg-light text-center p-4">
    <h2 class="card-title fw-bold">Contact Us</h2>
  </div>
  <div class="col-12">
    <div class="container">
      <div class="row mt-5">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.7884276853474!2d101.69457497588188!3d3.1504353531428437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc49d2c16c6cbb%3A0x863a3327435eee7a!2sBank%20Muamalat%20Malaysia%20Berhad!5e0!3m2!1sen!2smy!4v1719988209347!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card shadow-sm mb-3">
            <div class="card-header">
              <h4 class="card-title">Head Office</h4>
            </div>
            <div class="card-body">
              <p class="card-text">Bank Muamalat Malaysia Berhad</p>
              <p class="card-text">Ibu Pejabat, Menara Bumiputra,21 Jalan Melaka,50100 Kuala Lumpur</p>
              <p class="card-text">Contact: +603 2600 5500</p>
              <a href="https://www.waze.com/en/live-map/directions/bank-muamalat-jalan-melaka-21-kuala-lumpur?place=w.66650143.666501435.4034978" class="btn btn-warning"><i class="fa-brands fa-waze"></i>&nbspFind Us on Waze</a>
            </div>
          </div>
          <div class="card shadow-sm">
           <div class="card-header">
            <h4 class="card-title">Feedback</h4>
           </div>
            <div class="card-body">
              <p class="card-text"><i class="fa-solid fa-building"></i>&nbspVisiting our nearest branch & talking to our personnel</p>
              <p class="card-text"><i class="fa-solid fa-comments"></i>&nbspFilling in & returning the feedback and suggestion form by dropping it in the complaint and suggestion box or by mailing it to us</a></p>
              <p class="card-text"><i class="fa-solid fa-phone"></i>&nbspCalling & speaking to our Customer Care Officers at<a href="tel:+603-2600 5500">+603-2600 5500</a></p>
              <p class="card-text"><i class="fa-solid fa-envelope"></i>&nbsp<a href="mailto:itekadgroup@muamalat.com.my">itekadgroup@muamalat.com.my</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}