{% extends 'sfd/master/base.html' %}
{% load static %}

{% block title %}iTekad{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
    {% if view == 'create' %}
    <div class="card--container">
        <h3 class="main--title">Create Tranche</h3>
        <div class="card--container">
            <div class="row">
                <div class="col-12">
                    <form method="POST">
                      <div class="mb-5">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control" placeholder="Tranche 1">
                      </div>
                      <div class="mb-5">
                        <label class="form-label">Status</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Select Status</option>
                            <option value="1">Active</option>
                            <option value="2">Not Active</option>
                          </select>
                      </div>
                      <div class="mb-5">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a class="btn btn-md btn-primary me-md-2" type="button">Create</a>
                            <a class="btn btn-md btn-danger" type="button">Cancel</a>
                          </div>
                      </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    {% elif view == 'update' %}
    <div class="card--container">
        <h3 class="main--title">Update Tranche</h3>
        <div class="card--container">
            <div class="row">
                <div class="col-12">
                    <form method="POST">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Title:</label>
                        <input type="text" class="form-control" value="Tranche 1" disabled>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Status:</label>
                        <input type="text" class="form-control" value="Active" disabled>
                    </div>
                    <div class="mb-5">
                    <label class="col-sm-2 col-form-label">Choose Entreprenuer:</label>
                    <table id="tblUpdateTranche" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Company Name</th>
                                <th>Business Registration</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Muhammad Bin Ahmad</td>
                                <td>Muhamad Ahmad Enterprise</td>
                                <td>ABC123456789(6789)</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Muhammad Bin Ahmad</td>
                                <td>Muhamad Ahmad Enterprise</td>
                                <td>ABC123456789(6789)</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Muhammad Bin Ahmad</td>
                                <td>Muhamad Ahmad Enterprise</td>
                                <td>ABC123456789(6789)</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Muhammad Bin Ahmad</td>
                                <td>Muhamad Ahmad Enterprise</td>
                                <td>ABC123456789(6789)</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Muhammad Bin Ahmad</td>
                                <td>Muhamad Ahmad Enterprise</td>
                                <td>ABC123456789(6789)</td>
                                <td>Active</td>
                            </tr>
                    </table>
                    </div>
                    <div class="mb-3">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-md btn-success me-md-2" type="button">Save</a>
                        <a class="btn btn-md btn-danger" type="button">Cancel</a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% elif view == 'details' %}
    <div class="card--container">
        <h3 class="main--title">Details Tranche</h3>
        <div class="card--container">
            <div class="row">
                <div class="col-12">
                    <form method="POST">
                    <div class="mb-3 row">
                        <h1 class="col-sm-2 col-form-label">Title:</h1>
                        <input type="text" class="form-control" value="Tranche 1" disabled>
                    </div>
                    <div class="mb-3 row">
                        <h1 class="col-sm-2 col-form-label">Status:</h1>
                        <input type="text" class="form-control" value="Active" disabled>
                    </div>
                    <div class="mb-5">
                    <h1 class="col-sm-2 col-form-label">List Entreprenuer:</h1>
                    <table id="tblDetailsTranche" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Company Name</th>
                                <th>Business Registration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Muhammad Bin Ahmad</td>
                                <td>Muhamad Ahmad Enterprise</td>
                                <td>ABC123456789(6789)</td>
                            </tr>
                            <tr>
                                <td>Muhammad Bin Ahmad</td>
                                <td>Muhamad Ahmad Enterprise</td>
                                <td>ABC123456789(6789)</td>
                            </tr>
                            <tr>
                                <td>Muhammad Bin Ahmad</td>
                                <td>Muhamad Ahmad Enterprise</td>
                                <td>ABC123456789(6789)</td>
                            </tr>
                            <tr>
                                <td>Muhammad Bin Ahmad</td>
                                <td>Muhamad Ahmad Enterprise</td>
                                <td>ABC123456789(6789)</td>
                            </tr>
                            <tr>
                                <td>Muhammad Bin Ahmad</td>
                                <td>Muhamad Ahmad Enterprise</td>
                                <td>ABC123456789(6789)</td>
                            </tr>
                    </table>
                    </div>
                    <div class="mb-3">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-md btn-success me-md-2" type="button">Save</a>
                        <a class="btn btn-md btn-danger" type="button">Cancel</a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}

{% block js%}
<script>
    new DataTable('#tblTranche');
    new DataTable('#tblDetailsTranche');
    new DataTable('#tblUpdateTranche', {
        columnDefs: [
            {
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }
        ],
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        order: [[1, 'asc']]
    });

    new DataTable('#tblAssignTranche', {
        columnDefs: [
            {
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }
        ],
        select: {
            style: 'multi',
            selector: 'td:first-child'
        },
        order: [[1, 'asc']]
    });
</script>

{% endblock js%}
