{% extends 'sfd/master/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}iTekad{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
  {% if view == 'create' %}
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Create Company Profile</div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form | crispy}}
    <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="{% url 'business_profile_page' %}" class="btn btn-md btn-secondary" type="button">Back</a>
      <button class="btn btn-md btn-danger" type="reset"></i>Cancel</button>
      <button class="btn btn-md btn-warning" type="submit">Create</button>
    </div>
  </form>
  {% elif view == 'update' %}
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Update Company Profile</div>
  <form method="POST">
    {% csrf_token %}
    {{form | crispy}}
    <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="{% url 'business_profile_page' %}" class="btn btn-md btn-danger" type="button">Cancel</a>
      <button class="btn btn-md btn-warning" type="submit">Update</a>
    </div>
  </form>
  {% elif view == 'details' %}
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Details Company</div>
  <div class="row">
    <div class="col-12">
      {% if company %}
      <div class="mb-3">
        <label class="form-label">Logo</label>
        <input type="text" class="form-control" value="{{company.company_logo}}"  disabled>
      </div>
      <div class="mb-3">
        <label class="form-label">Entreprenuer</label>
        <input type="text" class="form-control" value="{{company.user}}"  disabled>
      </div>
      <div class="mb-3">
        <label class="form-label">Company's Name</label>
        <input type="text" class="form-control" value="{{company.company_name}}"  disabled>
      </div>
      <div class="row mb-3">
        <div class="col-6">
            <label class="form-label">Phone Number</label>
            <input type="text" class="form-control" value="{{company.company_phone_number}}"  disabled>
        </div>
        <div class="col-6">
            <label class="form-label">E-mail Address</label>
            <input type="text" class="form-control" value="{{company.company_email}}"  disabled>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Website</label>
        <input type="text" class="form-control" value="{{company.company_email}}"  disabled>
      </div>
      <div class="mb-3">
        <label class="form-label">Company Address</label>
        <textarea class="form-control" disabled>{{company.company_address}}</textarea>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label class="form-label">Nature of business</label>
            <input type="text" class="form-control" value="{{company.category_of_business.nature_of_business.title}}"  disabled>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="form-label">Category of business</label>
            <input type="text" class="form-control" value="{{company.category_of_business}}"  disabled>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Business Summary</label>
        <textarea class="form-control" disabled>{{company.company_summary}}</textarea>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label class="form-label">Financing Amount(RM)</label>
            <input type="text" class="form-control" value="{{company.financing_amount}}"  disabled>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label class="form-label">Grant Amount(RM)</label>
            <input type="text" class="form-control" value="{{company.grant_amount}}"  disabled>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Company Portfolio</label>
        <input type="text" class="form-control" value="{{company.company_portfolio}}"  disabled>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="mb-3"></div>
  <div class="row">
    <div class="col-12 text-end">
      <a href="{% url 'business_profile_page' %}" type="button" class="btn btn-secondary">Back</a>
      <a href="{% url 'update_business_profile_page' company.id %}" class="btn btn-warning" type="button">Edit</a>
    </div>
  </div>
  {% endif %}
{% endblock  %}

{% block js%}
<script>
    jQuery(document).ready(function () {
      ImgUpload();
    });

function ImgUpload() {
  var imgWrap = "";
  var imgArray = [];

  $('.upload__inputfile').each(function () {
    $(this).on('change', function (e) {
      imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
      var maxLength = $(this).attr('data-max_length');

      var files = e.target.files;
      var filesArr = Array.prototype.slice.call(files);
      var iterator = 0;
      filesArr.forEach(function (f, index) {

        if (!f.type.match('image.*')) {
          return;
        }

        if (imgArray.length > maxLength) {
          return false
        } else {
          var len = 0;
          for (var i = 0; i < imgArray.length; i++) {
            if (imgArray[i] !== undefined) {
              len++;
            }
          }
          if (len > maxLength) {
            return false;
          } else {
            imgArray.push(f);

            var reader = new FileReader();
            reader.onload = function (e) {
              var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-number='" + $(".upload__img-close").length + "' data-file='" + f.name + "' class='img-bg'><div class='upload__img-close'></div></div></div>";
              imgWrap.append(html);
              iterator++;
            }
            reader.readAsDataURL(f);
          }
        }
      });
    });
  });

  $('body').on('click', ".upload__img-close", function (e) {
    var file = $(this).parent().data("file");
    for (var i = 0; i < imgArray.length; i++) {
      if (imgArray[i].name === file) {
        imgArray.splice(i, 1);
        break;
      }
    }
    $(this).parent().parent().remove();
  });
}
</script>
{% endblock js%}
