{% extends 'sfd/master/base.html' %}
{% load static %}

{% block title %} iTekad - Create Campaign {% endblock title %}
{% block css %}
<style>

</style>
{% endblock css %}

{% block content %}
{% if view == 'create' %}
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Create Campaign</div>
<form method="POST">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-light">
          <tbody>
            <tr>
              <th width="15%" class="align-middle">Business Profile ID</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Business Profile ID">
              </td>
              <th width="15%" class="align-middle">Business Profile ID</th>
              <td width="35%">
                <select class="form-select">
                  <option selected>-- Choose --</option>
                  <option value="1">011023150339 - Muhamad Ahmad Enterprise</option>
                  <option value="2">030923150339 - SBS Entreprise</option>
                </select>
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Title</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Title">
              </td>
              <th width="15%" class="align-middle">Trademark</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Trademark">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Remark</th>
              <td width="35%" colspan="3">
                <textarea class="form-control" style="height: 100px; resize: none;"></textarea>
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Logo</th>
              <td width="35%" colspan="3">
                <div class="upload__box">
                  <label for="formFile" class="form-label">Upload Logo Campaign</label>
                  <input type="file" multiple="" data-max_length="20" class=" form-control upload__inputfile">
                  <div class="upload__img-wrap" width="150px"></div>
                </div>
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Start</th>
              <td width="35%">
                <input type="date" class="form-control" placeholder="Start Date/Time">
              </td>
              <th width="15%" class="align-middle">End</th>
              <td width="35%">
                <input type="date" class="form-control" placeholder="End Date/Time">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Status</th>
              <td width="35%" colspan="3">
                <select class="form-select">
                  <option selected>-- Choose --</option>
                  <option value="1">Active</option>
                  <option value="2">Not Active</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mb-3">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{% url 'campaign_page' %}" class="btn btn-md btn-secondary" type="button" style="width: 100px;"><i class="bx bx-chevron-left bx-sm bx-pull-left"></i>Cancel</a>
    <a class="btn btn-md btn-warning" type="button" style="width: 100px;"><i class="bx bx-edit-alt bx-sm bx-pull-left"></i>Create</a>
  </div>
</div>
</form>
{% elif view == 'update' %}
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Update Campaign</div>
<form method="POST">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-light">
          <tbody>
            <tr>
              <th width="15%" class="align-middle">Business Profile ID</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Business Profile ID">
              </td>
              <th width="15%" class="align-middle">Business Profile ID</th>
              <td width="35%">
                <select class="form-select">
                  <option selected>-- Choose --</option>
                  <option value="1">011023150339 - Muhamad Ahmad Enterprise</option>
                  <option value="2">030923150339 - SBS Entreprise</option>
                </select>
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Title</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Title">
              </td>
              <th width="15%" class="align-middle">Trademark</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Trademark">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Remark</th>
              <td width="35%" colspan="3">
                <textarea class="form-control" style="height: 100px; resize: none;"></textarea>
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Logo</th>
              <td width="35%" colspan="3">
                <div class="upload__box">
                  <label for="formFile" class="form-label">Upload Logo Campaign</label>
                  <input type="file" multiple="" data-max_length="20" class=" form-control upload__inputfile">
                  <div class="upload__img-wrap" width="150px"></div>
                </div>
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Start</th>
              <td width="35%">
                <input type="date" class="form-control" placeholder="Start Date/Time">
              </td>
              <th width="15%" class="align-middle">End</th>
              <td width="35%">
                <input type="date" class="form-control" placeholder="End Date/Time">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Status</th>
              <td width="35%" colspan="3">
                <select class="form-select">
                  <option selected>-- Choose --</option>
                  <option value="1">Active</option>
                  <option value="2">Not Active</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mb-3">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{% url 'campaign_page' %}" class="btn btn-md btn-secondary" type="button" style="width: 100px;"><i class="bx bx-chevron-left bx-sm bx-pull-left"></i>Cancel</a>
    <a class="btn btn-md btn-warning" type="button" style="width: 100px;"><i class="bx bx-edit-alt bx-sm bx-pull-left"></i>Update</a>
  </div>
</div>
</form>
{% elif view == 'details' %}
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Details Campaign</div>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-light">
        <tbody>
          <tr>
            <th width="20%" class="align-middle">Logo</th>
            <td width="80%" colspan="3">
              <img src="{% static 'sfd/img/user.svg' %}" class="img-thumbnail" width="150px">
            </td>
          </tr>
          <tr>
            <th width="20%" class="align-middle">Business Profile ID</th>
            <td width="80%" colspan="3">011023150339</td>
          </tr>
          <tr>
            <th width="20%" class="align-middle">Title</th>
            <td width="80%" colspan="3">Asia's No. 1 (Rent a Local Friend) Social & Culture Experience App</td>
          </tr>
          <tr>
            <th width="20%" class="align-middle">Trademark</th>
            <td width="80%" colspan="3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima explicabo non corrupti est pariatur eaque ab ipsa nam vero repudiandae doloribus ut animi reiciendis optio qui sit impedit, sapiente in. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod illo asperiores ullam voluptates magni provident. Qui, beatae doloribus consequatur ex repellat aperiam excepturi deserunt asperiores magnam praesentium minus vero id!</td>
          </tr>
          <tr>
            <th width="20%" class="align-middle">Start</th>
            <td width="30%">2023/05/01 13:05 PM</td>
            <th width="20%" class="align-middle">Start</th>
            <td width="30%">2023/05/01 13:05 PM</td>
          </tr>
          <tr>
            <th width="20%" class="align-middle">Status</th>
            <td width="80%" colspan="3">Active</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="mb-3"></div>
<div class="row">
  <div class="col-12 text-end">
    <a href="{% url 'campaign_page' %}" type="button" class="btn btn-secondary" style="width: 100px;"><i class='bx bxs-chevron-left bx-pull-left bx-sm'></i>Back</a>
    <a href="{% url 'update_campaign_page' 1 %}" class="btn btn-warning" type="button" style="width: 100px;"><i class='bx bx-edit bx-pull-left bx-sm'></i>Edit</a>
  </div>
</div>
{% elif view == 'assign' %}
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Search Entrepreneur</div>
<form method="POST">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-light">
          <tbody>
            <tr>
              <th width="25%" class="align-middle">Name</th>
              <td width="75%">
                <input type="text" class="form-control" placeholder="Name">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="mb-3"></div>
  <div class="row">
    <div class="col-12 text-end">
      <button type="reset" class="btn btn-secondary" style="width: 100px;"><i class='bx bx-repost bx-pull-left bx-sm'></i>Reset</button>
      <a href="{% url 'update_campaign_page' 1 %}" class="btn btn-warning" type="button" style="width: 100px;"><i class='bx bx-user bx-pull-left bx-sm'></i>Assign</a>
    </div>
  </div>
</form>

<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Assign Entrepreneur</div>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-light">
        <thead>
          <tr>
            <th width="5%">#</th>
            <th width="50%">Name</th>
            <th width="50%">Company</th>
            <th width="20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>Muhammad Alif Bin Tajudin</td>
            <td>Ribbon Sdn Bhd</td>
            <td class="text-center text-danger"><i class="bx bx-trash bx-sm"></i></td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Naziha Izzati Binti Md Puzi</td>
            <td>Shoes Sdn Bhd</td>
            <td class="text-center text-danger"><i class="bx bx-trash bx-sm"></i></td>
          </tr>
          <tr class="collapse">
            <td colspan="4" class="text-center">No items</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="mb-3"></div>
<div class="row">
  <div class="col-12 text-end">
    <a href="{% url 'campaign_page' %}" type="button" class="btn btn-secondary" style="width: 100px;"><i class='bx bx-chevron-left bx-pull-left bx-sm'></i>Back</a>
  </div>
</div>
{% endif %}
{% endblock content %}

{% block js %}{% endblock js %}