{% extends 'sfd/master/base.html' %}
{% load static %}

{% block title %}iTekad{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="row mt-4">
	<div class="col-12 text-end">
		<a href="{% url 'create_nature_of_business_page' %}" class="btn btn-warning" type="button">
			<i class="bx bx-list-plus bx-sm bx-pull-left"></i>Create New Nature of Business
		</a>
	</div>
</div>

<div class="card border-0 shadow mt-4">
	<div class="card-body p-4">
		<div class="mb-5">
			<h4 class="card-title">List of Nature of Business</h4>
		</div>
		<div class="table-responsive">
			<table id="tblNature" class="table table-striped" style="width:100%">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Date/Time Created</th>
						<th>Date/Time Updated</th>
						<th>Status</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
					<tr>
						<td>{{item.title}}</td>
						<td>{{item.description}}</td>
						<td>{{item.created_at | date:'d-m-Y h:i A'}}</td>
						<td>{{item.updated_at | date:'d-m-Y h:i A'}}</td>
						<td>{{item.status}}</td>
						<td class="text-end">
							<div class="d-grid gap-2 d-md-block">
								<a href="{% url 'details_nature_of_business_page' item.id %}" class="btn btn-primary" type="button">
									<i class="bx bx-search-alt bx-sm bx-pull-left"></i>View
								</a>
								<a href="{% url 'update_nature_of_business_page' item.id %}" class="btn btn-success" type="button">
									<i class="bx bx-edit bx-sm bx-pull-left"></i>Edit
								</a>
								<a href="{% url 'delete_nature_of_business_page' item.id %}" class="btn btn-danger" type="button">
									<i class="bx bx-trash bx-sm bx-pull-left"></i>Delete
								</a>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock  %}

{% block js%}
<script>
    new DataTable('#tblNature');
</script>

{% endblock js%}
