asgiref==3.7.2
crispy-bootstrap5==2024.2
Django==4.2.4
django-crispy-forms==2.1
django-environ==0.10.0
djongo==1.2.31
dnspython==2.6.1
pymongo==4.7.2
pytz==2024.1
sqlparse==0.4.4
typing_extensions==4.7.1
