asgiref==3.7.2
crispy-bootstrap5==2024.2
Django==*
django-crispy-forms==2.2
django-environ==0.10.0
django-filter==24.2
djongo==1.2.31
dnspython==2.6.1
psycopg2-binary==2.9.9
pymongo==4.7.2
pytz==2024.1
sqlparse==0.4.4
typing_extensions==4.7.1
