{% extends 'investor/master/base.html' %}

{% block title %}iTekad{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h4 class="card-title fw-bold text-uppercase">Account Overview</h4>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <img class="card-img-top" src="holder.js/100x180/" alt="Title" />
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
    
  </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}