{% extends 'investor/master/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}iTekad{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="container mt-3 mb-5 pb-5">
  <form method="POST">
    <div class="row p-3">
      <div class="col-12">
        <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">General Details</div>
      </div>
    </div>
    <div class="row">
      {% csrf_token %}
      <div class="col-12">
        {{ form.mobile_no | as_crispy_field }}
      </div>
      <div class="col-12">
        {{ form.address_line_one | as_crispy_field }}
      </div>
      <div class="col-12">
        {{ form.address_line_two | as_crispy_field }}
      </div>
      <div class="col-12">
        {{ form.address_line_three | as_crispy_field }}
      </div>
      <div class="col-12">
        {{ form.postcode | as_crispy_field }}
      </div>
      <div class="col-12">
        {{ form.city | as_crispy_field }}
      </div>
      <div class="col-12">
        {{ form.state | as_crispy_field }}
      </div>
      <div class="col-12">
        {{ form.country | as_crispy_field }}
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Account Details</div>
      </div>
    </div>
    <div class="row">
      {% csrf_token %}
      <div class="col-12">
        {{ form.bank_name | as_crispy_field }}
      </div>
      <div class="col-12">
        {{ form.bank_account_number | as_crispy_field }}
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-end">
        <a href="{% url 'home_page' %}" type="button" class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-success">Update Profile</button>
      </div>
  </form>
</div>

{% endblock content %}

{% block js %}{% endblock js %}