{% extends 'sfd/master/base.html' %}
{% load static %}

{% block title %}iTekad{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">General Details</div>
{% if view == 'create' %}
<form method="POST">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-light">
          <tbody>
            <tr>
              <th width="15%" class="align-middle">Username</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Username">
              </td>
              <th width="15%" class="align-middle">Email Address</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Email Address">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Full Name</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Full Name">
              </td>
              <th width="15%" class="align-middle">MyKad No.</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="MyKad No.">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Mobile No.</th>
              <td width="35%" colspan="3">
                <input type="text" class="form-control" placeholder="Mobile No.">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Address Line 1</th>
              <td width="35%" colspan="3">
                <input type="text" class="form-control" placeholder="Address Line 1">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Address Line 2</th>
              <td width="35%" colspan="3">
                <input type="text" class="form-control" placeholder="Address Line 2">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Address Line 3</th>
              <td width="35%" colspan="3">
                <input type="text" class="form-control" placeholder="Address Line 3">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Postcode</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Postcode">
              </td>
              <th width="15%" class="align-middle">City</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="City">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">State</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="State">
              </td>
              <th width="15%" class="align-middle">Country</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="" value="Malaysia">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="mb-3"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Account Details</div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-light">
          <tbody>
            <tr>
              <th width="15%" class="align-middle">Bank Name</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Bank Name">
              </td>
              <th width="15%" class="align-middle">Bank Account No.</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Bank Account No.">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mb-3"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Role Details</div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-light">
          <tbody>
            <tr>
              <th width="15%" class="align-middle">Role</th>
              <td width="35%">
                <select class="form-select">
                  <option selected>-- Select --</option>
                  <option value="1">Admin</option>
                  <option value="2">Entreprenuer</option>
                  <option value="3">Investor</option>
                </select>
              </td>
              <th width="15%" class="align-middle">Category</th>
              <td width="35%">
                <select class="form-select">
                  <option selected>-- Select --</option>
                  <option value="1">Reviewer</option>
                  <option value="2">Approver</option>
                </select>
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Status</th>
              <td width="35%">
                <select class="form-select">
                  <option selected>-- Select --</option>
                  <option value="1">Active</option>
                  <option value="2">Not Active</option>
                </select>
              </td>
              <th width="15%" class="align-middle"></th>
              <td width="35%"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mb-3"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Password Details</div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-light">
          <tbody>
            <tr>
              <th width="15%" class="align-middle">Password</th>
              <td width="35%" class="align-middle">
                <input type="text" class="form-control" placeholder="Password">
              </td>
              <th width="15%" class="align-middle">Confirm Password</th>
              <td width="35%" class="align-middle">
                <input type="text" class="form-control" placeholder="Confirm Password">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mb-3"></div>
  <div class="row">
    <div class="col-12 text-end">
      <a href="{% url 'user_management_page' %}" type="button" class="btn btn-secondary" style="width: 100px;"><i class='bx bx-chevron-left bx-pull-left bx-sm'></i>Cancel</a>
      <button class="btn btn-warning" type="button" style="width:100px;"><i class='bx bx-edit bx-pencil bx-pull-left bx-sm'></i>Create</button>
    </div>
  </div>
</form>
{% elif view == 'update' %}
<form method="POST">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-light">
          <tbody>
            <tr>
              <th width="15%" class="align-middle">Username</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Username">
              </td>
              <th width="15%" class="align-middle">Email Address</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Email Address">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Full Name</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Full Name">
              </td>
              <th width="15%" class="align-middle">MyKad No.</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="MyKad No.">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Mobile No.</th>
              <td width="35%" colspan="3">
                <input type="text" class="form-control" placeholder="Mobile No.">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Address Line 1</th>
              <td width="35%" colspan="3">
                <input type="text" class="form-control" placeholder="Address Line 1">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Address Line 2</th>
              <td width="35%" colspan="3">
                <input type="text" class="form-control" placeholder="Address Line 2">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Address Line 3</th>
              <td width="35%" colspan="3">
                <input type="text" class="form-control" placeholder="Address Line 3">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Postcode</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Postcode">
              </td>
              <th width="15%" class="align-middle">City</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="City">
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">State</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="State">
              </td>
              <th width="15%" class="align-middle">Country</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="" value="Malaysia">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="mb-3"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Account Details</div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-light">
          <tbody>
            <tr>
              <th width="15%" class="align-middle">Bank Name</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Bank Name">
              </td>
              <th width="15%" class="align-middle">Bank Account No.</th>
              <td width="35%">
                <input type="text" class="form-control" placeholder="Bank Account No.">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mb-3"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Role Details</div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-light">
          <tbody>
            <tr>
              <th width="15%" class="align-middle">Role</th>
              <td width="35%">
                <select class="form-select">
                  <option selected>-- Select --</option>
                  <option value="1">Admin</option>
                  <option value="2">Entreprenuer</option>
                  <option value="3">Investor</option>
                </select>
              </td>
              <th width="15%" class="align-middle">Category</th>
              <td width="35%">
                <select class="form-select">
                  <option selected>-- Select --</option>
                  <option value="1">Reviewer</option>
                  <option value="2">Approver</option>
                </select>
              </td>
            </tr>
            <tr>
              <th width="15%" class="align-middle">Status</th>
              <td width="35%">
                <select class="form-select">
                  <option selected>-- Select --</option>
                  <option value="1">Active</option>
                  <option value="2">Not Active</option>
                </select>
              </td>
              <th width="15%" class="align-middle"></th>
              <td width="35%"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mb-3"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Password Details</div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-light">
          <tbody>
            <tr>
              <th width="15%" class="align-middle">Password</th>
              <td width="35%" class="align-middle">
                <input type="text" class="form-control" placeholder="Password">
              </td>
              <th width="15%" class="align-middle">Confirm Password</th>
              <td width="35%" class="align-middle">
                <input type="text" class="form-control" placeholder="Confirm Password">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mb-3"></div>
  <div class="row">
    <div class="col-12 text-end">
      <a href="{% url 'user_management_page' %}" type="button" class="btn btn-secondary" style="width: 100px;"><i class='bx bx-chevron-left bx-pull-left bx-sm'></i>Cancel</a>
      <button class="btn btn-warning" type="button" style="width:100px;"><i class='bx bx-edit bx-pencil bx-pull-left bx-sm'></i>Update</button>
    </div>
  </div>
</form>
{% elif view == 'details' %}
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-light">
        <tbody>
          <tr>
            <th width="15%">Username</th>
            <td width="35%">Ahmad56</td>
            <th width="15%">Email Address</th>
            <td width="35%">ahmad.abu@muamalat.com.my</td>
          </tr>
          <tr>
            <th>Full Name</th>
            <td>Ahmad Bin Abu</td>
            <th>MyKad No.</th>
            <td>123456-78-9012</td>
          </tr>
          <tr>
            <th>Address</th>
            <td colspan="3">No 24 Jalan Melawi,</td>
          </tr>
          <tr>
            <th></th>
            <td colspan="3">Taman Melawi Indah 10,</td>
          </tr>
          <tr>
            <th></th>
            <td colspan="3">56100 Cheras,</td>
          </tr>
          <tr>
            <th></th>
            <td colspan="3">Wilayah Persekutuan K. L., Malaysia</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="mb-3"></div>
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Account Details</div>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-light">
        <tbody>
          <tr>
            <th width="15%">Bank Name</th>
            <td width="35%">Maybank</td>
            <th width="15%">Account No.</th>
            <td width="35%">16430009876</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="mb-3"></div>
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Role Details</div>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-light">
        <tbody>
          <tr>
            <th width="15%">Role</th>
            <td width="35%">Investor</td>
            <th width="15%">Category</th>
            <td width="35%">-</td>
          </tr>
          <tr>
            <th width="15%">Status</th>
            <td width="35%">Active</td>
            <th width="15%"></th>
            <td width="35%"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="mb-3"></div>
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Password Details</div>
<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-light">
        <tbody>
          <tr>
            <th width="15%">Password Expiry</th>
            <td width="35%">30/10/2025 16:00 PM</td>
            <th width="15%">Last Reset</th>
            <td width="35%">11/08/2023 14:00 PM</td>
          </tr>
          <tr>
            <th width="15%">Status</th>
            <td width="35%">Expired</td>
            <th width="15%"></th>
            <td width="35%"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="mb-3"></div>
<div class="row">
  <div class="col-12 text-end">
    <a href="{% url 'user_management_page' %}" type="button" class="btn btn-secondary" style="width: 100px;"><i class='bx bxs-chevron-left bx-pull-left bx-sm'></i>Back</a>
    <a href="{% url 'update_user_management_page' 1 %}" class="btn btn-warning" type="button" style="width: 100px;"><i class='bx bx-edit bx-pull-left bx-sm'></i>Edit</a>
  </div>
</div>
{% endif %}
{% endblock %}

{% block js%}
<script>
  new DataTable('#tblTranche');
  new DataTable('#tblDetailsTranche');
  new DataTable('#tblUpdateTranche', {
    columnDefs: [
      {
        orderable: false,
        className: 'select-checkbox',
        targets: 0
      }
    ],
    select: {
      style: 'multi',
      selector: 'td:first-child'
    },
    order: [[1, 'asc']]
  });

  new DataTable('#tblAssignTranche', {
    columnDefs: [
      {
        orderable: false,
        className: 'select-checkbox',
        targets: 0
      }
    ],
    select: {
      style: 'multi',
      selector: 'td:first-child'
    },
    order: [[1, 'asc']]
  });
</script>

{% endblock js%}