{% extends 'users/master/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} iTekad - User Management{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}

{% if form1.errors %}
{% for field in form1 %}
  {% for error in field.errors %}
    <p> {{ error }} </p>
  {% endfor %}
{% endfor %}
{% endif %}

{% if form2.errors %}
{% for field in form2 %}
  {% for error in field.errors %}
    <p> {{ error }} </p>
  {% endfor %}
{% endfor %}
{% endif %}


<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">General Details</div>
{% if view == 'create' %}
<form method="POST">
  <div class="row">
    {% csrf_token %}
    <div class="col-6">
      {{ form1.first_name|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form1.last_name|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ form2.mykad_no|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form1.email|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form2.mobile_no|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ form2.address_line_one|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ form2.address_line_two|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ form2.address_line_three|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form2.postcode|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form2.city|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form2.state|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form2.country|as_crispy_field }}
    </div>
  </div>
  
  <div class="mt-5"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Account Details</div>
  <div class="row">
    <div class="col-12">
      {% csrf_token %}
    </div>
    <div class="col-12">
      {{ form2.bank_name|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ form2.bank_account_number|as_crispy_field }}
    </div>
  </div>

  <div class="mt-5"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Role Details</div>
  <div class="row">
    <div class="col-12">
      {{ form2.role|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ form2.position|as_crispy_field }}
    </div>
  </div>

  <div class="mt-5"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Password Details</div>
  <div class="row">
    <div class="col-12">
      {{ form1.username|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form1.password1|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form1.password2|as_crispy_field }}
      {{ form1.terms_agreement.as_hidden }}
    </div>
  </div>
  <div class="mb-3"></div>
  <div class="row">
    <div class="col-12 text-end">
      <a href="{% url 'user_management_page' %}" type="button" class="btn btn-secondary">Cancel</a>
      <a href="{% url 'user_management_page' %}" type="reset" class="btn btn-danger">Reset</a>
      <button class="btn btn-warning" type="submit">Create</button>
    </div>
  </div>
</form>
{% elif view == 'update' %}
<form method="POST">
  {% csrf_token %}
  <div class="row"> 
    <div class="col-6">
      {{ form.first_name|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.last_name|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ profile_form.mykad_no|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.email|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ profile_form.mobile_no|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ profile_form.address_line_one|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ profile_form.address_line_two|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ profile_form.address_line_three|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ profile_form.postcode|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ profile_form.city|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ profile_form.state|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ profile_form.country|as_crispy_field }}
    </div>
  </div>
  <div class="mb-3"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Account Details</div>
  <div class="row">
    <div class="col-12">
      {{ profile_form.bank_name|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ profile_form.bank_account_number|as_crispy_field }}
    </div>
  </div>
  <div class="mb-3"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Role Details</div>
  <div class="row">
    <div class="col-12">
      {{ profile_form.role|as_crispy_field }}
    </div>
    <div class="col-12">
      {{ profile_form.position|as_crispy_field }}
    </div>
  </div>
  <div class="mb-3"></div>
  <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Password Details</div>

  <div class="row">
    <div class="col-12">
      <a href="{% url 'send_password_page' id %}" type="button" class="btn btn-info"><i class='bx bx-mail-send bx-pull-left bx-sm'></i>Send Link
        Reset Password</a>
      <div class="mb-3"></div>
    </div>
  </div>

  
  <div class="mb-3"></div>
  <div class="row">
    <div class="col-12 text-end">
      <a href="{% url 'user_management_page' %}" type="button" class="btn btn-secondary">Cancel</a>
      <button class="btn btn-warning" type="submit">Update</button>
    </div>
  </div>
</form>
{% elif view == 'details' %}
<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control"  value="{{ user_record.username }}" disabled>
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">First Name</label>
      <input type="text" class="form-control"  value="{{ user_record.first_name }}" disabled>
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">Last Name</label>
      <input type="text" class="form-control"  value="{{ user_record.last_name }}" disabled>
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">Maykad No</label>
      <input type="text" class="form-control"  value="{{  user_profile_record.mykad_no }}" disabled>
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">E-mail Address</label>
      <input type="text" class="form-control"  value="{{ user_record.email }}" disabled>
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label class="form-label">No Phone</label>
      <input type="text" class="form-control"  value="{{ user_profile_record.mobile_no }}" disabled>
    </div>
  </div>
  <div class="col-12">
    <div class="mb-3">
      <label class="form-label">Address</label>
      <textarea class="form-control" style="height: 100px" disabled>{{user_profile_record.address_line_one}} {{user_profile_record.address_line_two}} {{user_profile_record.address_line_three}} {{user_profile_record.postcode}} {{user_profile_record.city}} {{user_profile_record.state}} {{user_profile_record.country}}</textarea>
    </div>
  </div>
</div>
<div class="mb-3"></div>
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Account Details</div>
<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <label class="form-label">Bank Name</label>
      <input type="text" class="form-control"  value="{{ user_profile_record.bank_name }}" disabled>
    </div>
    <div class="mb-3">
      <label class="form-label">Bank Account Number</label>
      <input type="text" class="form-control"  value="{{ user_profile_record.bank_account_number }}" disabled>
    </div>
  </div>
</div>

<div class="mb-3"></div>
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Role Details</div>
<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <label class="form-label">Role</label>
      <input type="text" class="form-control"  value="{{ user_profile_record.role }}" disabled>
    </div>
    <div class="mb-3">
      <label class="form-label">Position</label>
      <input type="text" class="form-control"  value="{{ user_profile_record.position | default:'-' }}" disabled>
    </div>
    <div class="mb-3">
      <label class="form-label">Status</label>
      <input type="text" class="form-control"  value="{{ user_record.is_active }}" disabled>
    </div>
  </div>
</div>

<div class="mb-3"></div>
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Password Details</div>
<div class="row">
  <div class="col-6">
    <label class="form-label">Password Expiry</label>
    <input type="text" class="form-control"  value="-" disabled>
  </div>
  <div class="col-6">
    <label class="form-label">Last Reset</label>
    <input type="text" class="form-control"  value="-" disabled>
  </div>
  <div class="col-12">
    <label class="form-label">Status</label>
    <input type="text" class="form-control"  value="-" disabled>
  </div>
</div>
<div class="mb-3"></div>
<div class="row">
  <div class="col-12 text-end">
    <a href="{% url 'user_management_page' %}" type="button" class="btn btn-secondary" style="width: 100px;"><i
        class='bx bxs-chevron-left bx-pull-left bx-sm'></i>Back</a>
    <a href="{% url 'update_user_management_page' id %}" class="btn btn-warning" type="button" style="width: 100px;"><i
        class='bx bx-edit bx-pull-left bx-sm'></i>Edit</a>
  </div>
</div>
{% endif %}
{% endblock %}

{% block js%}
<script>
  new DataTable('#tblTranche');
  new DataTable('#tblDetailsTranche');
  new DataTable('#tblUpdateTranche', {
    columnDefs: [
      {
        orderable: false,
        className: 'select-checkbox',
        targets: 0
      }
    ],
    select: {
      style: 'multi',
      selector: 'td:first-child'
    },
    order: [[1, 'asc']]
  });

  new DataTable('#tblAssignTranche', {
    columnDefs: [
      {
        orderable: false,
        className: 'select-checkbox',
        targets: 0
      }
    ],
    select: {
      style: 'multi',
      selector: 'td:first-child'
    },
    order: [[1, 'asc']]
  });


$(document).ready(function() {
     // Initially hide the position field if it's empty
    var positionField = $('#id_position');
    var positionContainer = positionField.closest('.col-12');
    if (positionField.val().trim() === '') {
        positionContainer.hide();
    }

    // Function to show/hide position field based on role selection
    $('#id_role').change(function() {
        if ($(this).val() === 'ADMIN') {
            positionContainer.show();
        } else {
            if (positionField.val().trim() === '') {
                positionContainer.hide();
            }
        }
    });

    $('#id_terms_agreement').attr('checked', true);
    // $('#id_terms_agreement').prop('checked');
});

</script>

{% endblock js%}