{% extends 'users/public/base.html' %}
{% load crispy_forms_tags %}

{% block title %}iTekad{% endblock title %}
{% block css %}
<style>

</style>
{% endblock css %}

{% block content %}
<div class="row">
  <div class="offset-md-1 col-md-9 offset-lg-4 col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <i class='bx bx-lock-alt bx-lg bx-border-circle'></i>
          </div>
          <div class="col-12 mb-4 text-center">
            <h4 class="card-title fw-bold">Forgot Password</h4>
            <p class="card-subtitle text-muted">Please enter your registered email ID.</p>
            <p class="card-subtitle text-muted">We will send a verification code to your registered email ID.</p>
          </div>
          <div class="col-12">
            <form method="POST">
              {% csrf_token %}
              {{ form | crispy }}
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-warning fw-bold text-uppercase">Confirm</button>
              </div>
          </form>
          </div>
          <div class="col-12 mt-4 text-center">
            <a name="" id="" class="btn btn-link text-decoration-none" href="{% url 'login_page' %}" role="button"><i class='bx bx-left-arrow-alt bx-sm bx-pull-left'></i>Return to the login screen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}