{% extends 'users/public/base.html' %}
{% load crispy_forms_tags %}

{% block title %} iTekad - Forgot Password {% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="row mb-5 pb-5">
	<div class="col-sm-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
    <div class="card border border-2 border-light shadow-sm">
      <div class="card-body p-4">
				<div class="row">
					<div class="col-12 text-center mb-4">
						<i class='bx bx-lock-alt bx-lg bx-border-circle'></i>
					</div>
					<div class="col-12 mb-4 text-center">
						<h4 class="card-title fw-bold">Forgot Password</h4>
						<p class="card-subtitle text-muted">Please enter your registered email ID.</p>
						<p class="card-subtitle text-muted">We will send a verification code to your registered email ID.</p>
					</div>
					<div class="col-12">
						<form method="POST">
							{% csrf_token %}
							{% for field in form %}
							{{ field.form | crispy }}
							{% if field.errors %}
							<small>{{ field.errors|striptags }}</small>
							{% endif %}
							{% endfor %}
							<div class="d-grid gap-2">
								<button type="submit" class="btn btn-warning fw-bold text-uppercase">Confirm</button>
							</div>
						</form>
					</div>
					<div class="col-12 mt-4 text-center">
						<a class="btn btn-link text-decoration-none" href="{% url 'login_page' %}" role="button">
							<i class='bx bx-left-arrow-alt bx-sm bx-pull-left'></i>
							Return to the login screen
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}