{% extends 'users/public/base.html' %}

{% block content %}
<div class="text-center">
{% if validlink %}
    <form method="post" class="card">
        {% csrf_token %}
        <h2>Password Reset Confirm</h2>
        
        {% for field in form %}
                {{ field.label_tag }} 
                {{ field }}
                {% if field.errors %}
                    <small>{{ field.errors|striptags  }}</small> 
                {% endif %}
        {% endfor %}
        
        
        <div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
{% else %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
</div>


{% endblock content %}