{% extends 'users/master/base.html' %}
{% load crispy_forms_tags %}
{% block title %}iTekad{% endblock title %}
{% block css %}
<style>

</style>
{% endblock css %}

{% block content %}
{% if validlink %}
<div class="row">
    <div class="offset-4 col-4">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <i class='bx bx-key bx-lg bx-border-circle'></i>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <h4 class="card-title fw-bold">Set your new password</h4>
                            <p class="card-subtitle text-muted">Your new password should be different from passwords
                                previously used.</p>
                        </div>
                        {% for field in form %}
                        {{ field | as_crispy_field }}
                        {% if field.errors %}
                        <small>{{ field.errors|striptags }}</small>
                        {% endif %}
                        {% endfor %}
                        <div class="col-12">
                            <div class="d-grid gap-2">
                                <a type="button" class="btn btn-warning fw-bold text-uppercase">Confirm</a>
                            </div>
                        </div>
                        <div class="col-12 mt-4 text-center">
                            <a name="" id="" class="btn btn-link text-decoration-none" href="{% url 'login_page' %}"
                                role="button"><i class='bx bx-left-arrow-alt bx-sm bx-pull-left'></i>Return to the login
                                screen</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% else %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password
    reset.</p>
{% endif %}
{% endblock content %}

{% block js %}{% endblock js %}