{% extends 'users/public/base.html' %}
{% load crispy_forms_tags %}
{% block title %}iTekad{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="row pt-5">
  <div class="offset-3 col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <i class='bx bx-lock-alt bx-lg bx-border-circle'></i>
          </div>
          <div class="col-12 mb-4 text-center">
            <h4 class="card-title fw-bold">iTekad Sign Up</h4>
            <p class="card-subtitle text-muted">Please provide your valid infomations to get the benefits form our site.</p>
          </div>
          <form method="POST" action="{% url 'register_page' %}">
          {% csrf_token %}
          <div class="col-12">
            <div class="mb-3">
              {{ form.username | as_crispy_field }}
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              {{ form.first_name | as_crispy_field }}
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              {{ form.last_name | as_crispy_field }}
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label for="" class="form-label">Email Address</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="">
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              {{ form.password1 | as_crispy_field }}
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              {{ form.password2 | as_crispy_field }}
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="terms_agreement" id="terms_agreement">
              <label class="form-check-label">I accept all <a href="#">Privacy and Policy</a> & <a href="#">Terms and Conditions</a>.</label>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-warning fw-bold text-uppercase">Signup Now</button>
            </div>
          </div>
          </form>
          <div class="col-12 text-center mt-3">
            <small class="text-muted">Already have an account? <a href="{% url 'login_page' %}" class="text-decoration-none">Sign In</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}