{% extends 'users/master/base.html' %}

{% block title %}iTekad{% endblock title %}
{% block css %}
<style>

</style>
{% endblock css %}

{% block content %}
<div class="row">
  <div class="offset-4 col-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <i class='bx bx-key bx-lg bx-border-circle'></i>
          </div>
          <div class="col-12 mb-4 text-center">
            <h4 class="card-title fw-bold">Set your new password</h4>
            <p class="card-subtitle text-muted">Your new password should be different from passwords previously used.</p>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <input type="password" class="form-control" name="" id="" placeholder="Password">
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <input type="password" class="form-control" name="" id="" placeholder="Confirm Password">
            </div>
          </div>
          <div class="col-12">
            <div class="d-grid gap-2">
              <a href="{% url 'success_password_page' %}" type="button" class="btn btn-warning fw-bold text-uppercase">Confirm</a>
            </div>
          </div>
          <div class="col-12 mt-4 text-center">
            <a name="" id="" class="btn btn-link text-decoration-none" href="{% url 'login_page' %}" role="button"><i class='bx bx-left-arrow-alt bx-sm bx-pull-left'></i>Return to the login screen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}