{% extends 'sfd/master/base.html' %}
{% load static %}

{% block title %} iTekad - User Management {% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">Search</div>
<form method="POST">
  <div class="row">
    <div class="col-6">
      <label class="form-label">Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label">Mykad No.</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label">Email</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label">Account No.</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label">Bank Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-3 mb-3">
      <label class="form-label">Start Date</label>
      <input type="date" class="form-control">
    </div>
    <div class="col-3 mb-3">
      <label class="form-label">End Date</label>
      <input type="date" class="form-control">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label">Status</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select Status</option>
        <option value="1">Active</option>
        <option value="2">Not Active</option>
      </select>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label">Role</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select Role</option>
        <option value="1">Admin</option>
        <option value="2">Entreprenuer</option>
        <option value="2">Investor</option>
      </select>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label">Category</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select Category</option>
        <option value="1">Reviewer</option>
        <option value="2">Approver</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-danger" type="button"><i class="fa-solid fa-xmark"></i>&nbspReset</a>
        <a class="btn btn-primary" type="button"><i class="fa-solid fa-magnifying-glass"></i>&nbspSearch</a>
      </div>
    </div>
  </div>
</form>

<div class="mt-5"></div>
<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">List of Users</div>
<div class="row">
  <div class="col-12">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="{% url 'create_user_management_page' %}" class="btn btn-primary" type="button"><i class="fa-solid fa-plus"></i>&nbspCreate User</a>
    </div>
  </div>
</div>
<div class="mt-3"></div>
<div class="row">
  <div class="col-12">
    <table id="tblUserManagement" class="table" style="width:100%">
      <thead>
          <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Mobile Phone</th>
              <th>MyKad No.</th>
              <th>Role</th>
              <th>Position</th>
              <th>Date/Time Created</th>
              <th>Status</th>
              <th>Action</th>

          </tr>
      </thead>
      <tbody>
          {% if user_profile_record %}
          {% for record in user_profile_record %}
          <tr>
              <td>{{ record.user.get_full_name }}</td>
              <td>{{ record.user.username }}</td>
              <td>{{ record.user.email }}</td>
              <td>{{ record.mobile_no }}</td>
              <td>{{ record.mykad_no }}</td>
              <td>{{ record.role}}</td>
              <td>{{ record.position | default:"-"}} </td>
              <td>{{ record.user.date_joined }}</td>
              <td>{{ record.user.is_active }}</td>
              <td> 
                  <div class="d-grid gap-2 d-md-block">
                  <a href="{% url 'details_user_management_page' record.id %}" class="btn btn-primary" type="button"><i class="fa-solid fa-magnifying-glass"></i>&nbspView</a>
                  <a href="{% url 'update_user_management_page' record.id %}" class="btn btn-success" type="button"><i class="fa-solid fa-pen"></i>&nbspEdit</a>
                  <a href="{% url 'delete_user_management_page' record.id %}" class="btn btn-danger" type="button"><i class="fa-solid fa-trash"></i>&nbspDelete</a>
                  {% if request.user.is_superuser %}
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-user-id="{{ record.id }}" data-username="{{ record.username }}"><i class="fa-solid fa-trash"></i>&nbspDelete</button>
                  {% endif %}
                  </div>
              </td>
          </tr>
          {% endfor %}
          {% endif %}
      </tbody>
    </table>
  </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Delete</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <strong id="modal-username"></strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a id="confirm-delete-button" href="" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock  %}

{% block js%}
<script>
    new DataTable('#tblUserManagement');

    $('#confirmDeleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var userId = button.data('user-id')
        var username = button.data('username')
        var modal = $(this)
        modal.find('#modal-username').text(username)
        modal.find('#confirm-delete-button').attr('href', '/users/user/delete/' + userId + '/')
    })
</script>
{% endblock js%}
