{% load static %}

<div class="footer mt-auto py-3 fixed-bottom">
 <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <div class="col-md-6 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 <a href="#">Bank Muamalat Malaysia Berhad</a></span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="md-3 p-2"><a class="text-body-secondary" href="https://www.facebook.com/mybankmuamalat/?locale=ms_MY"> <i class="fa-brands fa-facebook" style="font-size: 2rem;"></i></li>
      <li class="md-3 p-2"><a class="text-body-secondary" href="https://www.instagram.com/mybankmuamalat/?hl=en"> <i class="fa-brands fa-instagram" style="font-size: 2rem;"></i></a></li>
      <li class="md-3 p-2"><a class="text-body-secondary" href="https://www.linkedin.com/company/bank-muamalat-malaysia-berhad/mycompany/"> <i class="fa-brands fa-linkedin" style="font-size: 2rem;"></i></a></li>

    </ul>
  </footer>
</div>
 
</div>
