{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>{% block title %} iTekad - Bank Muamalat Malaysia Berhad {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- Global CSS -->
  <link rel="stylesheet" href="{% static 'users/css/globals.css' %}">

  <!-- Custom CSS -->
  {% block css %}{% endblock css %}
</head>

<body>
  <!-- Header -->
  {% include 'users/public/header.html' %}
  
  <!-- Body -->
  <div class="container mt-5">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% block content %}{% endblock content %}
  </div>

  <!-- Footer -->
  {% include 'users/public/footer.html' %}
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"></script>

  <!-- Global JS -->
  <link rel="stylesheet" href="{% static 'users/js/globals.js' %}">

  <!-- Custom JS -->
  {% block js %}{% endblock js %}
</body>

</html>