<nav class="navbar navbar-expand-sm navbar-dark bg-warning">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://map.muamalat.com.my/media/images/muamalat_logo_white.original.png" class="img-fluid rounded-top" alt="BMMB Logo" width="150">
    </a>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand navbar-light bg-light shadow-sm">
  <div class="container">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link active" href="#" aria-current="page">Account Overview <span class="visually-hidden">(current)</span></a>
      <a class="nav-item nav-link" href="#">Campaign</a>
      <a class="nav-item nav-link" href="#">Profile</a>
    </div>

    <div class="text-end">
      <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Muhammad Alif Tajudin</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Home</a></li>
          <li><a class="dropdown-item" href="#">FAQ</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'login_page' %}">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->