{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-warning">
  <div class="container">
    <a class="navbar-brand" href="{% url 'landing_page' %}">
      <img src="https://map.muamalat.com.my/media/images/muamalat_logo_white.original.png" class="img-fluid rounded-top" alt="BMMB Logo" width="150">
    </a>
  </div>
</nav>
  
<nav class="navbar navbar-expand navbar-light bg-light shadow-sm">
  <div class="container">
    <ul class="nav navbar-nav">
      
    </ul>

    <div class="text-end">
      <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown">{{request.user.get_full_name}}</button>
        <ul class="dropdown-menu">
          {% comment %} <li><a class="dropdown-item" href="{% url 'update_user_management_page' %}">Profile</a></li> {% endcomment %}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'logout_page' %}">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>